@model RestaurantSystem.DTOs.FoodDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasePrice" class="control-label"></label>
                <input asp-for="BasePrice" class="form-control" type="number" />
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionalIngredients"></label>
                <select class="form-control" asp-for="OptionalIngredients" asp-items="@ViewBag.OptionalIngredients" multiple="multiple">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
        <img style="max-width: 500px; max-height: 500px;" src="@Url.Action("GetImage", "Food", new { Id = Model.Id} )" class="img-thumbnail" alt="Imamge do alimento @Model.Id" id="foodImage" onerror="this.onerror=null; this.src='/img/default-image.jpg';">
        
        <button onclick="removeImageHandle()">
            Remover Imagem
        </button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function removeImageHandle() {
            if (!window.confirm("Tem certeza que deseja remover a imagem? "))
                return

            $.ajax({
                url: "@Url.Action("RemoveImageFood", "Food", new { foodId = Model.Id })",
                method: "delete",
                success: function () {
                    alert("Imagem removida com sucesso!")
                    $("#foodImage").attr("srcset", "/img/default-image.jpg")
                },
                error: function () {
                    alert("Ocorreu um error ao remover a imagem!")
                }
            })
        }
    </script>
}
